body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: floralwhite;
}

* {
    font-family: monospace;
}

.chip8-romcontrols input[type="file"]::file-selector-button {
    font-family: monospace;
    border-radius: 0.25rem;
}

.scrollable {
    border: 2px solid black;
    overflow: scroll;
    border-radius: 0.25rem;
}

.scrollable .selected {
    background: black;
    color: white;
}

.scrollable .selectable {
    cursor: pointer;
}

.chip8-display {
    border-radius: 0.25rem;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: disp;
    background: bisque;
}
.chip8-grid-container {
    display: grid;
    grid-gap: 10px;
    justify-content: center;
    grid-template-columns: 128px 128px 256px 64px 440px 128px;
    grid-template-rows: 35px 128px 128px 128px 256px;
    grid-template-areas: 
        "rom        rom         rom         rom         rom         rom"
        "registers  registers   registers   registers   registers   pc"
        "tacs       tacs        input       disp        disp        pc"
        "tacs       tacs        input       disp        disp        pc"
        "stack      misc        misc        misc        mem         pc";
}

.chip8-romcontrols {
    /* width: calc(512px - 0.50rem); */
    border: 2px solid black;
    border-radius: 0.25rem;
    padding: 0.25rem;
    display: flex;
    justify-content: space-between;
    grid-area: rom;
}

.chip8-romcontrols .action-buttons button{
    width: 64px;
    border-radius: 0.25rem;
}

.chip8-registers {
    border: 2px solid black;
    border-radius: 0.25rem;
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-area: registers;
}

.chip8-registers .register-item {
    outline: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.chip8-input {
    border: 2px solid black;
    border-radius: 0.25rem;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-area: input;
}

.chip8-input .input-item {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid black;
}
.chip8-code {
    grid-area: pc;    
}

.chip8-input .input-item.pressed {
    background: black;
    color: white;
}

.chip8-stack {
    grid-area: stack;
}

.chip8-stack .stack-item:last-child{
    background: black;
    color: white;
}

.chip8-timers-and-counters {
    border: 2px solid black;
    border-radius: 0.25rem;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-area: tacs;
}

.chip8-timers-and-counters .tac-item {
    outline: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chip8-memory {
    overflow: scroll;
    border: 2px solid black;
    border-radius: 0.25rem;
    font-family: monospace;
    grid-area: mem;
}

.chip8-memory .memory-item {
    display: flex;
    gap: 16px;
}

.chip8-misc {
    border: 2px solid black;
    border-radius: 0.25rem;
    grid-area: misc;
}